.mission__item {
    margin: 0;
    min-width: 164px;
    max-width: 251px;
    border-radius: 30px;
    padding: 10px 10px 0 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
}