.header__title_type_blue {
    color: #0962E8;
    background-color: #FFFFFF;
    background-size: 140px 80px;
    background-position: left -15px;
    display: inline-block;
    min-height: 80px;
    padding: 0 12px 0;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0;
}