.mission {
    justify-content: start;
    padding: 0 60px;
    box-sizing: border-box;
}

@media screen and (max-width: 740px) {
    .mission {
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .mission {
        padding-left: 16px;
        padding-right: 16px;
    }
}