.button {
    background-color: #0962E8;
    color: #FFFFFF;
    width: 199px;
    height: 52px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.4;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease;
}

.button:hover {
    opacity: .8;
}

@media screen and (max-width: 568px) {
    .button {
        width: 100%;
        justify-self: center;
        margin-bottom: 37px;
    }
}